*__pycache__*
*egg-info
*png
tests/
log/
build/
install/
.vscode/
*json
notebooks
*yaml
*bak
!/ros/spine_multi_ros/config/rviz/jackal_nav2_test.rviz
!/ros/spine_multi_ros/config/nav2_jackal_stvox.yaml
